.card {
  display: flex;
  flex-direction: column;
  border: 2px solid white;


  &__image {
    width: 100%;
    height: 200px;
    position: relative;
    border-bottom: 1px solid gray;
  }

  &__content {
    background-color: white;
    box-sizing: border-box;
    padding: 1rem;
    padding-bottom: 2rem;
  }
}
